.private {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  .avatar-big {
    background: white;
    border-radius: 40px;
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  .username {
    font-size: 45px;
  }
}
.user-content {
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-info {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  .title {
    text-decoration: underline;
  }
  .post-image {
    object-fit: cover;
    border-radius: 10px;
    width: 250px;
    height: 250px;
  }
}
