.private {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  .avatar-big {
    background: white;
    border-radius: 40px;
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  .username {
    font-size: 45px;
  }
}
