.register-box {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  .form {
    padding: 15px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    .submit {
      width: 50px;
      align-self: center;
    }
  }
}
