body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'arial', sans-serif;
  color: white;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  background-color: #111;
}

div,
span,
h1,
h2,
h3,
p,
a,
img,
ol,
ul,
li,
form,
label,
legend,
footer,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}
button {
  all: unset;
  padding: 3px 10px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  color: black;
  font-weight: 600;
  cursor: pointer;
  background-color: white;
}
button:hover {
  transition: 400ms;
  background: rgb(0, 251, 255);
}
.file-box {
  position: relative;
  display: inline-block;
}
.file-box ::before {
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'Seleccionar'; /* testo por defecto */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.file-box input[type='file'] {
  opacity: 0;
  width: 200px;
  height: 32px;
  display: inline-block;
}
#src-box::before {
  padding: 5px;
  border-radius: 10px;
  color: black;
  background-color: #ffffff;
  content: 'Choose your photo';
}

input {
  text-align: center;
  outline: none;
  font-weight: 600;
  border: none;
  padding: 5px;
  border-radius: 10px;
}
input:focus,
input:hover {
  transition: 400ms;
  background-color: rgb(214, 191, 191);
}
input::placeholder {
  font-weight: 600;
}
input:hover::placeholder {
  color: rgb(0, 0, 0);
}
input:focus::placeholder {
  color: transparent;
}

a {
  all: unset;
  font-weight: 600;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
}
a:hover {
  transition: 600ms;
  color: black;
  background: rgb(0, 251, 255);
}
